div.table-responsive {
    margin-bottom: 160px;
}
table {
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0 !important;
}
td, th {
    position: relative;
}
thead th, tfoot th {
    width: 14%;
    background: #EDF2F7;
    z-index: 2;
    text-align: center;
}
thead th:first-of-type, tfoot th:first-of-type {
    width: 16%;
    text-align: left;
}
tr:hover {
    background: #E2E8F0;
}
tbody th:hover, tbody td:hover {
    cursor: pointer;
    background: #90CDF4;
}
td.hasContent {
    background: #BEE3F8;
}
td.hasContent span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td:hover::after, td.hasContent:hover::after {
    content: "";
    position: absolute;
    background: #E2E8F0;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}
div.cell-details {
    display: none;
    position: absolute;
    top:70%;
    right:0;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    background: #fff;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    padding: 1rem;
    z-index: 4;
}
form.edit-week {
    margin-bottom: 2rem;
}
textarea.content {
    display:none;
}
.ck-editor__editable_inline {
    min-height: 160px;
}
div.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 1em;
}
div.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div.planbox {
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    background: #fff;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    padding: 1rem;
}
div.list-group-item.h4 {
    background: #EBF8FF;
}
.fas.text-muted, .far.text-muted {
    color: #718096;
}
a.plan-link {
    padding-left: 8px;
    font-weight: normal;
}